body {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    color: var(--primary-color);
    padding: 16px;
}

.container {
    padding: 16px;
    min-height: calc(100vh - 32px);
    background-color: var(--secondary-color);
    border-radius: 8px;
}

h1 {
    font-size: 3rem;
    line-height: 72%;
    letter-spacing: 10px;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.color-red {
    color: var(--accent-color);
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-30 {
    opacity: 0.3;
}